@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 220 30% 4%;
    --color-foreground: 0 0% 100%;

    --color-muted-background: 220 17% 27%;
    --color-muted-foreground: 0 0% 100% / 0.7;

    --color-primary: 323 81% 57%;
    --color-primary-highlight: 323 81% 79%;

    --color-accent: 248 89% 62%;
    --color-accent-highlight: 248 89% 86%;

    --color-border-color: 0 0% 100% / 0.15;
  }

  body,
  html {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      sans-serif;
  }
}

body {
  @apply relative z-0 bg-background bg-[url(/hero-glow.svg)] bg-contain bg-top bg-no-repeat font-sans text-foreground antialiased after:absolute after:inset-0 after:-z-10 after:bg-[url:theme(backgroundImage.noise)] after:opacity-10 after:contrast-125 after:saturate-0;
}

div#__next {
  overflow: visible;
}

/* TODO: Remove this once Root no longer applies background white */
body > div {
  background: transparent !important;
}
